<header>
  <nav id="navbar">
    <div class="container">
      <h1>{{title}}</h1>
    <ul>
      <li><a class="current" href="/">Weather</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
    </div>
    
  </nav>
  
</header>